{% extends "base.html" %}
{% load static from staticfiles %}

{% block extra-css %}
<link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/dataTables.responsive.css' %}" rel="stylesheet">
{% endblock extra-css %}

{% block pageheader %}
    <h1 class="page-header">Reports</h1>
{% endblock pageheader %}

{% block panelheader %}
Residents: {{ residents.count }}, SMS Credit: {{ user.estate.balance }}
{% endblock panelheader %}

{% block panelbody %}
<div class="dataTable_wrapper">
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
         <thead>
             <tr>
                 <th>Resident</th>
                 <th>Usage</th>
             </tr>
         </thead>
         <tbody>
         {% for item in reports %}
         <tr>
             <td>{{ item.0 }}</td>
             <td>{{ item.1 }}</td>
         </tr>
         {% endfor %}
         </tbody>
     </table>
 </div>
 </div>
{% endblock panelbody %}

{% block extra-js %}
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
$('#id_name').addClass('form-control');
$('#id_phone').addClass('form-control');
$('#id_phone').attr('placeholder', 'Please include country code e.g. 2348023456789');
</script>
{% endblock extra-js %}
